ul {
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

li {
    font-family: 'Roboto', sans-serif;
    list-style: none;
    padding: 5px;
}

body {
    display: flex;
    flex-direction: column;
    clear: both;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
}

button {
    background-color: rgb(88, 125, 69);
    border: none;
    border-radius: 10px;
    color: white;
    margin: 3px;
    padding: 8px;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: white;
}


/*CSS para o footer*/

footer {
    background-color: rgb(96, 124, 75);
    text-align: center;
    padding: 15px;
    margin-top: auto;
    justify-content: center;
    display: flex;
    align-items: center;
}

div.credits,
div.contact-info,
div.external-link {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 1% 8%;
}

.container {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
}


/* Cabeçalho */

.logo {
    width: 200px;
}

.cabeçalho .cabeçalho-right a {
    color: black;
    padding: 30px;
    text-decoration: none;
}

.cabeçalho {
    display: flex;
    align-items: center;
    width: 80%;
}

.cabeçalho a:hover {
    color: rgb(88, 125, 69);
}


/* Página atual */

.cabeçalho a.active {
    color: black;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-radius: 1px;
    border-bottom-color: green;
}


/* Parte onde se seleciona a página */

.cabeçalho-right {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 100%;
}

#container1 {
    text-align: center;
    padding: 50px;
}


/* Formulários */

#myForm input {
    width: 50%;
    clear: both;
}

#myForm label {
    color: white;
}

#myForm2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
}

#myForm,
#myFormRemove {
    max-width: 400px;
    margin: 20px auto;
    margin-top: 30px;
    background-color: rgb(96, 124, 75);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    text-align: center;
}

#farmFormRemove label,
#farmFormRemove input,
#farmForm label,
#farmForm input {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

#farmFormRemove label,
#farmForm label {
    color: white;
}

#h2Form,
#h2FormRemove {
    text-align: center;
    margin: auto;
    font-family: 'Roboto', 'sans-serif';
    margin-top: 30px;
    color: rgb(88, 125, 69);
}

#vacinas-form {
    color: white;
    font-weight: bold;
}

#failed_search {
    font-family: 'Roboto', sans-serif;
}

#farmacias-lista form {
    text-align: center;
}

label {
    font-weight: bold;
}

#sucesso {
    color: green;
}

#failed {
    color: red;
}

input {
    padding: 7px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


/* CSS para a lista de farmácias */

#farmacia-titulo {
    font-family: 'Roboto', sans-serif;
    margin-left: 70px;
    color: rgb(88, 125, 69);
}

#farmacias-lista div div {
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
    width: 450px;
    display: block;
    margin: auto;
    margin-top: 12px;
    font-family: 'Roboto', sans-serif;
}

#farmacias-lista div div p {
    margin: 10px;
    text-align: justify;
}

#farmacias-lista button {
    display: flex;
    margin: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

button:hover {
    cursor: pointer;
}

#farmacias-lista {
    padding: 10px;
}

div#farmacias-lista a {
    font-size: 1.1em;
    display: block;
    padding: 12px;
    text-decoration: none;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

div#farmacias-lista a:hover {
    color: rgb(115, 115, 115);
}


/* CSS para a lista de agendamentos */

#lista-agendamentos p {
    border: 1px solid black;
    border-radius: 10px;
    width: 25%;
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

#lista-agendamentos p button {
    margin-top: 10px;
}


/*CSS para a paginação*/

#paginacao a {
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 7px;
    border-radius: 10px;
    margin: 0px 2px;
    text-decoration: none;
}

#paginacao a.active {
    background-color: rgba(96, 124, 75, 0.9);
    color: white;
}

#paginacao a:hover {
    background-color: rgb(185, 185, 185);
}

#paginacao p {
    font-family: 'Roboto', sans-serif;
}

#botoes {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

.chart-container {
    width: 800px;
    height: 400px;
    margin: auto;
    margin-bottom: 20px;
}

a:hover {
    text-decoration: underline;
}


/* CSS para a lista de farmacias na página de acesso reservado */

#lista-farmacias {
    margin: auto;
    margin-bottom: 50px;
    font-family: 'Roboto', 'sans-serif';
}

#farmacia-titulo {
    font-family: 'Roboto', sans-serif;
    margin-left: 70px;
    color: rgb(88, 125, 69);
}


/* CSS para a página de FAQ */

.faq-container {
    margin: auto;
    margin-top: 20px;
    margin: 20px 100px 0px 100px;
    font-family: 'Roboto', 'sans-serif';
}

.faq-pergunta {
    margin-bottom: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: large;
}

.faq-resposta {
    margin-bottom: 40px;
    text-align: center;
}

#tituloFarm,
#faq {
    font-family: 'Roboto', 'sans-serif';
    color: rgb(88, 125, 69);
    text-align: center;
}


/* Media query quando a largura do ecrã for menor que 1200px */

@media screen and (max-width: 1200px) {
    .cabeçalho .cabeçalho-right a {
        margin: 30px 30px;
        padding: 0px;
    }
    .chart-container {
        justify-content: center;
        width: 75%;
        height: 300px;
        margin: auto;
        display: flex;
    }
    div.credits,
    div.contact-info,
    div.external-link {
        font-family: 'Roboto', sans-serif;
        color: white;
        margin: 15px 50px;
    }
    #farmacias-lista {
        display: flex;
        justify-content: center;
    }
    #farmacias-lista div div {
        width: 100%;
    }
}


/* Media query quando a largura do ecrã for menor que 600px */

@media screen and (max-width: 600px) {
    .container {
        text-align: center;
        width: 100%;
    }
    .cabeçalho {
        width: 100%;
    }
    .cabeçalho a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer {
        flex-direction: column;
        text-align: center;
    }
    #farmacias-lista div div {
        width: 100%;
        /* Faz com que os itens da lista ocupem toda a largura */
    }
    .logo {
        display: none;
    }
    .chart-container {
        display: flex;
        justify-content: center;
        width: 75%;
        height: 200px;
        margin: auto;
    }
    .cabeçalho-right {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    #farmacias-lista {
        display: flex;
        justify-content: center;
    }
    body,
    html {
        max-width: 100vw;
    }
}

/* Media query quando a largura do ecrã for menor que 225px */

@media screen and (max-width: 225px) {
    p,
    a,
    h1,
    h2,
    h3 {
        font-size: 0.8em;
    }
    input {
        width: 50%;
    }
}